
<script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />

<div id="map" style="width: 100%; height: 500px;"></div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoibWVmaGlnb3NldGgiLCJhIjoiY2w2aXdrbmNyMTV2NTNjczAxcHhkMHo2MCJ9.pTxM8owdkjxu_spjqrfmWQ';

const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/navigation-night-v1',
    center: [-58.3611676, -34.7989032],
    zoom: 13
});
</script>