<div class="p-2">
  <div class="relative">
    <img src="/abierto.png" alt="{{ .Title }}" class="rounded-lg shadow-sm w-full h-52 object-cover" />
    <div class="absolute top-4 right-4 rounded shadow bg-blue-500 text-white dark:bg-blue-500 dark:text-white text-sm px-2 py-1">
      de Turno ahora
    </div>
  </div>
  <div class="my-2 text-2xl font-bold">{{ .Title }}</div>
  <p>{{ .Description }}</p>
  {{ $gmap := printf "https://www.google.com/maps/search/?api=1&query=farmacias&query_place_id=%s" .Params.place_id }}
  <p class="mt-5">
    <a href="{{ $gmap }}" class="bg-blue-500 hover:bg-blue-400 text-white rounded-md px-3 py-2 font-semibold">Ver en mapa</a>
    {{ with .Params.phone }}
      <a href="tel:{{ int . }}" class="mx-2 text-white font-semibold">Tel: {{ int . }}</a>
    {{ end }}
  </p>
</div>
